.latest-post-section {
  padding: 0 23px;
  margin-top: 45px;
  margin-bottom: 24px;
  h3 {
    font-size: 28px;
    font-family: zero-medium, sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
    color: #333533;
    line-height: 28px;
    i {
      width: 28px;
      height: 1px;
      background: #33353390;
      display: inline-block;
      margin-bottom: 7px;
    }
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .featured-posts-list {
    padding: 0 23px;
    margin-bottom: 42px;

    .post-image {
      margin-bottom: 12px;
    }

    .post-date {
      font-family: zero-book, sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.75rem;
      color: #34485d;
      margin-bottom: 2px;
    }

    .post-title-link {
      font-size: 1.3rem;
      line-height: 1.5rem;
      font-family: zero-medium, sans-serif;

      a {
        color: #2d3e4f;
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}

/* Medium and up */
// @media screen and (min-width: 40em) {}

/* Medium only */
// @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
// @media screen and (min-width: 64em) {}

/* Large only */
// @media screen and (min-width: 64em) and (max-width: 74.9375em) {}