.blog-post-container {
  padding: 20px;

  .post-drop-case {
    font-family: zero-bold;
    font-size: 54.85px;
    padding-top: 3.5px;
    margin-left: 1px;
    margin-right: 6px;
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    letter-spacing: -.03em;
    line-height: 0.8;
    float: left;
    margin-bottom: -0.03em;
  }

  .post-title {
    margin-top: 0.5rem;
    font-family: zero-medium, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;

    a {
      color: #2d3e4f;
    }

    &.sizeup {
      font-size: 1.5rem;
      margin-bottom: 40px;
    }
  }

  .post-date {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #232323;
    font-size: 0.65rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: zero-book, sans-serif;
    & + .post-date {
      margin-top: 0;
      font-style: italic;
    }
  }
}