.footer-container {
  padding: 24px 0;
  background: #333533;

  .subscribe {
    input {
      background: #333533;
      border-width: 0;
      border-bottom: 2px #eee solid;
      width: 100%;
      color: #fff;
      font-size: 18px;
    }
  }

  .connect-on-social {
    display: flex;

    ul {
      width: 100%;
      margin-bottom: 0;
      list-style: none;
      margin-left: 40px;
      margin-right: 40px;
    }

    li {
      margin-bottom: 0;
      width: 20%;
      height: 24px;
      float: left;

      a {
        display: block;
        color: #fff;
        text-align: center;
        cursor: pointer;

        img {
        width: 24px;
        height: 24px;
          filter: invert(1);
        }
      }
    }
  }
}