.footer-container {
  padding: 48px 0 ;
  background: #333533;

  .about-me {
    color: #fff;
    margin: 0 30px;
    a {
      text-decoration: none;
      color: rgb(138, 180, 248);
    }
    h2, h5 {
      font-weight: normal;
      font-family: zero-book, sans-serif;
    }
    h5 {
      font-size: 16px;
      line-height: 23px;
    }
  }

  .subscribe {
    input {
      background: #333533;
      border-width: 0;
      border-bottom: 2px #eee solid;
      width: 100%;
      color: #fff;
      font-size: 18px;
    }
  }

  .connect-on-social {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;

    ul {
      width: 100%;
      margin-bottom: 0;
      list-style: none;
      margin-left: 0;
    }

    li {
      margin-bottom: 0;
      width: 20%;
      height: 24px;
      float: left;

      a {
        display: block;
        color: #fff;
        text-align: center;
        cursor: pointer;

        img {
          width: 16px;
          height: 16px;
          filter: invert(1);
        }
      }
    }
  }
}